@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Тестовый коммент */
}

@keyframes opacity {
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes rotate { to {--angle:360deg;}}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgb(85, 85, 85);/* background-image: linear-gradient(var(--angle), #000000 0%, #7f8288 100%); */
    font-size: 25px;
}

/* Шапка */
.menu {
    width: 100%;
    position: fixed;
    padding-left: 10px;
    height: 50px;
    background-image: linear-gradient(to right, #2a6ad8 0%, #d84343 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 5;
}

/* Обертка карт */
.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Макет карты */
.card {
    --angle: 0deg;
    position: relative;
    margin: 70px auto;
    padding: 20px 20px 20px 20px;
    width: 612px;
    /*border: 5px solid;
    */height: 376px;
    background-image: linear-gradient(var(--angle), #d50000 0%, #0140ad 100%);
    border-radius: 40px;
    box-shadow: rgb(37 37 37) 1px 2px 12px 1px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    /*border-image: linear-gradient(var(--angle),#00cc99, #eef0f5, #6600ff) 1 ;*/
    animation: 10s rotate linear infinite;
    -webkit-animation: 10s rotate linear infinite;
}

.card:hover {
    animation-play-state: paused;
}

.alfa {
    position: absolute;
    top: 8px;
    font-size: 70px;
    border-bottom: solid 5px #0140ad;
    pointer-events: none;
}

.chip {
    background-image: url(/img/chip.png);
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0,-50%);
    pointer-events: none;
    object-fit: contain;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
}

.cardholder__off {
    position: absolute;
    top: 351px;
    left: 28px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0;
    font-weight: 700;
    opacity: 0;
}

.cardholder {
    opacity: 1;
}

.number__off {
    position: absolute;
    top: 251px;
    left: 60px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}

.number {
    opacity: 1;
}

.validdate__off {
    position: absolute;
    top: 304px;
    left: 320px;
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
}

.validdate {
    opacity: 1;
}

input[type="text"]{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
    outline: none;
    border: hidden;
}

.wrapper__cardnumber {
    position: absolute;
    top: -30px;
    left: 32px;
    width: 90%;
}

.wrapper__cardnumber:after {
    content: '';
    position: absolute;
    top: 47px;
    left: -9px;
    height: 1px;
    background: #f66d52;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
/* .wrapper__cardnumber:hover:before{
    position: absolute;
    top: 49px;
    left: -9px;
    height: 1px;
    background: #f66d52;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
} */

.wrapper__cardname {
    position: absolute;
    top: 70px;
    width: 100%;
}

.wrapper__cardname:after {
    content: '';
    position: absolute;
    top: 47px;
    left: -4px;
    height: 1px;
    background: #f66d52;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#cardname {
    letter-spacing: 0;
    font-size: 35px;
    width: 100%;
}

.wrapper__carddate {
    position: absolute;
    top: 23px;
    left: 292px;
    width: 20%;
}

.wrapper__carddate:after {
    content: '';
    position: absolute;
    top: 44px;
    left: -8px;
    height: 1px;
    background: #f66d52;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


#carddate {
    font-size: 40px;
    letter-spacing: 0;
}
/* #carddate:hover {
    border-bottom: 3px solid rgb(255, 0, 0);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
} */

.inputvalue {
    position: absolute;
    left: 26px;
    top: 280px;
    width: inherit;
    opacity: 1;
}

.inputvalue__open {
    opacity: 0;
    pointer-events: none;
}

.button_card {
    margin-left: 20px;
}

/* Кнопки */
/* Кнопка ОК */
.button_ok {
    background-image: url(/img/correct.png);
    background-size: cover;
    position: absolute;
    color: #fff;
    left: 584px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    animation: ani 4.5s linear;
    -webkit-animation: ani 4.5s linear;
}

/* Настройки */
.button_settings {
    background-image: url(/img/settings.png);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    color: #fff;
    left: 584px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    animation: ani 4.5s linear;
    -webkit-animation: ani 4.5s linear;
}

/* .button_okk {
    background-image: url(/img/settings.png);
    opacity: 0.5;
} */

.button_cancel {
    background-image: url(/img/cancel.png);
    background-size: cover;
    position: absolute;
    color: #fff;
    left: 512px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 2;
}
.button_nav {
    min-width: 182px;
}

.testok {
    background-color: #000;
}

.card__other {
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(268deg 63% 24%) 11%,
        hsl(290deg 36% 29%) 22%,
        hsl(327deg 24% 37%) 33%,
        hsl(5deg 21% 46%) 44%,
        hsl(28deg 31% 49%) 56%,
        hsl(39deg 44% 52%) 67%,
        hsl(46deg 61% 54%) 78%,
        hsl(51deg 80% 55%) 89%,
        hsl(55deg 100% 50%) 100%);
}


@media (max-width:1347px) {

.wrapper {
    flex-wrap: wrap; 
    }
}

@media (max-width:670px) {

body {
    font-size: 12.5px;
    }


}