@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Тестовый коммент */
}

@keyframes opacity {
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
}
    
@keyframes rotate { to {--angle:360deg;}}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

*,
*::after,
*::before {
    /* box-sizing: border-box; */
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #adadad;
    background-image: url(/img/back.jpg);
    background-size: cover;
    /* background-color: rgb(175, 182, 181);background-image: linear-gradient(var(--angle), #000000 0%, #7f8288 100%); */
    font-size: 25px;
}

::placeholder { 
    color: rgb(158, 158, 158);
    font-size: 14px;
    opacity: .7;
}

/* Шапка */
.menu {
    width: 100%;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-image: linear-gradient(to right, #2a6ad8 0%, #d84343 100%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 5;
}

.date__wrap {
    font-size: 20px;
    text-align: center;
}

.button__wrap {
    font-size: 20px;
}
/* Обертка карт */
.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Макет карты */
.card {
    --angle: 0deg;
    position: relative;
    margin: 70px auto;
    padding: 20px 20px 20px 20px;
    width: 612px;
    height: 376px;
    background-image: linear-gradient(var(--angle), #d50000 0%, #0140ad 100%);
    border-radius: 40px;
    box-shadow: rgb(37 37 37) 1px 2px 12px 1px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    animation: 15s rotate linear infinite;
    -webkit-animation: 15s rotate linear infinite;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}

.card:hover {
    animation-play-state: paused;
}

.alfa {
    position: absolute;
    top: 8px;
    font-size: 70px;
    border-bottom: solid 5px #0140ad;
    pointer-events: none;
}

.chip {
    background-image: url(/img/chip.png);
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0,-50%);
    pointer-events: none;
    object-fit: contain;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
}

.cardholder__off {
    position: absolute;
    top: 351px;
    left: 28px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0;
    font-weight: 700;
    opacity: 0;
}

.cardholder {
    opacity: 1;
}

.number__off {
    position: absolute;
    top: 251px;
    left: 75px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}

.number {
    opacity: 1;
}

.validdate__off {
    position: absolute;
    top: 304px;
    left: 320px;
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
}

.validdate {
    opacity: 1;
}

input[type="text"],
input[type="number"] {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
    outline: none;
    border: hidden;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}



/* Анимация подчеркивания номера карты */
.wrapper__cardnumber {
    position: absolute;
    top: -30px;
    left: 47px;
    width: 90%;
}

.wrapper__cardnumber:after {
    content: '';
    position: absolute;
    top: 47px;
    left: -9px;
    height: 1px;
    background: #ccc;
    width: 0;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

.wrapper__cardnumber:before {
    content: '';
    position: absolute;
    top: 47px;
    left: -9px;
    height: 1px;
    background: #ccc;
    width: 100%;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

.wrapper__cardnumber:hover:after {
    content: '';
    position: absolute;
    top: 47px;
    left: -9px;
    height: 1px;
    width: 100%;
    background: #4bae4f;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* Анимация подчеркивания владельца карты */
.wrapper__cardname {
    position: absolute;
    top: 70px;
    width: 100%;
}

.wrapper__cardname:after {
    content: '';
    position: absolute;
    top: 34px;
    left: -4px;
    height: 1px;
    background: #ccc;
    width: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.wrapper__cardname:before {
    content: '';
    position: absolute;
    top: 34px;
    left: -4px;
    height: 1px;
    background: #ccc;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.wrapper__cardname:hover:after{
    content: '';
    position: absolute;
    top: 34px;
    left: -4px;
    height: 1px;
    background: #4bae4f;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#cardname {
    letter-spacing: 0;
    font-size: 30px;
    width: 100%;
}

.wrapper__carddate {
    position: absolute;
    top: 23px;
    left: 292px;
}

.wrapper__carddate:after {
    content: '';
    position: absolute;
    top: 44px;
    left: -8px;
    height: 1px;
    background: #ccc;
    width: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.wrapper__carddate:before {
    content: '';
    position: absolute;
    top: 44px;
    left: -8px;
    height: 1px;
    background: #ccc;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.wrapper__carddate:hover:after {
    content: '';
    position: absolute;
    top: 44px;
    left: -8px;
    height: 1px;
    background: #4bae4f;
    width: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#carddate {
    font-size: 40px;
    letter-spacing: 0;
    width: 49px;
}

#carddate2 {
    font-size: 40px;
    letter-spacing: 0;
    width: 60px;
}

.inputvalue:before {
    content: '/';
    position: absolute;
    top: 24px;
    font-size: 40px;
    font-weight: 700;
    left: 336px;
}
.inputvalue {
    position: absolute;
    left: 26px;
    top: 280px;
    width: inherit;
    opacity: 1;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.inputvalue__open {
    opacity: 0;
    pointer-events: none;
}

.button_card {
    margin-left: 20px;
}

/* Кнопки */
/* Кнопка ОК */
.button_ok {
    background-image: url(/img/correct.png);
    background-size: cover;
    position: absolute;
    color: #fff;
    left: 584px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

/* Настройки */
.button_settings {
    background-image: url(/img/settings.png);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    color: #fff;
    left: 584px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
}

/* .button_okk {
    background-image: url(/img/settings.png);
    opacity: 0.5;
} */

.button_cancel {
    background-image: url(/img/cancel.png);
    background-size: cover;
    position: absolute;
    color: #fff;
    left: 512px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    display: none;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}

.button_cancel__off {
    opacity: 0;
    pointer-events: none;
}

.button_nav {
    min-width: 182px;
}

.testok {
    background-color: #000;
}

@media (max-width:1347px) {

.wrapper {
    flex-wrap: wrap; 
    }
}

@media (max-width:670px) {

body {
    font-size: 12.5px;
    }


}
